body{
    font-family:'Phudu', cursive;
    background-color: rgba(245, 245, 245, 0.938);
}
.bg-yellow{
    background-color: rgb(247, 229, 197);
}
.bg-gray{
    background-color: rgb(221, 219, 219);
}
.bg-pink{
    background-color: rgb(241, 225, 225);
}
.bg-green{
    background-color: rgb(227, 250, 234);
}
.heading{
    font-weight: 'bold';
    text-shadow: 2px 2px rgb(221, 219, 219);
    text-align: center;
    color:black;
    margin: 20px;
}
.align-center{
    justify-items: center;
}