body{
    font-family:'Phudu', cursive;
    background-color: rgba(245, 245, 245, 0.938);
}
.heading{
    font-weight: 'bold';
    text-shadow: 2px 2px rgb(221, 219, 219);
    color:black;
    margin: 20px;
}